{
    "rules": {
        "block-no-empty": true,
        "color-no-invalid-hex": true,
        "color-hex-case": "upper",
        "comment-empty-line-before": null,
        "declaration-colon-space-after": "always",
        "at-rule-name-space-after": "always-single-line",
        "at-rule-semicolon-newline-after": "always",
        "function-comma-space-after": "always",
        "function-url-quotes": "always",
        "function-whitespace-after": "always",
        "number-no-trailing-zeros": true,
        "string-no-newline": true,
        "function-parentheses-newline-inside": "never-multi-line",
        "declaration-block-trailing-semicolon": "always",
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": "always",
        "block-closing-brace-newline-before": "always-multi-line",
        "block-closing-brace-space-before": "always-single-line",
        "block-opening-brace-newline-after": "always-multi-line",
        "block-opening-brace-space-after": "always-single-line",
        "block-opening-brace-space-before": "always",
        "selector-attribute-brackets-space-inside": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-operator-space-before": "never",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-descendant-combinator-no-non-space": true,
        "selector-list-comma-newline-after": "always",
        "selector-list-comma-space-before": "never",
        "selector-max-empty-lines": 0,
        "selector-pseudo-class-case": "lower",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-pseudo-element-case": "lower",
        "selector-pseudo-element-colon-notation": "double",
        "selector-type-case": null,
        "unit-case": "lower",
        "unit-no-unknown": true,
        "indentation": 4,
        "max-empty-lines": 1,
        "rule-empty-line-before": null,
        "value-list-comma-space-after": "always",
        "no-extra-semicolons": true,
        "no-duplicate-selectors": true,
        "unit-whitelist": ["px", "em", "rem", "%", "s", "vw", "vh"]
    }
}
