// color
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #BD362F;
$color-green: #51A351;
$color-darkgreen: #0B9400;
$color-lightblue: #2F96B4;
$color-blue: #085897;
$color-darkblue: #003B51;
$color-yellow: #F89406;
$color-purple: #551A8B;
$color-gray: #718171;
// rgba
$rgba-black: rgba(0, 0, 0, 0.3);
$rgba-white: rgba(240, 240, 240, 0.76);
$rgba-lightwhite: rgba(243, 243, 243, 0.95);
$rgba-gray: rgba(180, 180, 180, 0.76);
$rgba-darkgray: rgba(88, 88, 88, 0.5);
