body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    margin: 0;
    padding: 0;
}

dd {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

h5 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

pre {
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    margin: 0;
    padding: 0;
}

textarea {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
    padding: 0;
}

th {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

address {
    font-style: normal;
    font-weight: normal;
}

caption {
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

cite {
    font-style: normal;
    font-weight: normal;
}

code {
    font-style: normal;
    font-weight: normal;
}

dfn {
    font-style: normal;
    font-weight: normal;
}

em {
    font-style: normal;
    font-weight: normal;
}

strong {
    font-style: normal;
    font-weight: normal;
}

var {
    font-style: normal;
    font-weight: normal;
}

q {
    &:before {
        content: '';
    }
    &:after {
        content: '';
    }
}

abbr {
    border: 0;
}

acronym {
    border: 0;
}
