$font-family: Helvetica, sans-serif;
$font_xxlarge: 2vw;
$font_xlarge: 1.6vw;
$font_larger: 1.4vw;
$font_large: 1.2vw;
$font_initial: 1.1vw;
$font_inherit: 1vw;
$font_medium: .9vw;
$font_small: .8vw;
$font_smaller: .6vw;
$font_xsmall: .3vw;
$font_xxsmall: .1vw;
