@import 'modules/_importer';
@import 'partials/_importer';
@import 'layouts/_importer';
@import 'components/_importer';
@import 'vendor/_importer';

body {
    width: 96%;
    margin: 2% auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    &.clear {
        font-family: Arial;
        background-color: #EEE;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        cursor: hand;
        color: #888;
        margin-bottom: 12px;
    }
    &:hover {
        background-color: #CFD8DC;

    }
    &:disabled {
        background-color: #EEE;
        color: #AAA;
        cursor: auto;
    }
}

.title,
.nav,
.search-component,
.detail-component,
.heroes-component,
.messages-style {
    padding: 1%;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.hero-link {
    padding: 1%;
}

// width ≥ 992px [RWD-1]
@media (min-width: 992px) {
    .hero-link {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

// width ≥ 768px [RWD-2]
@media (max-width: 991px) and (min-width: 768px) {
    .hero-link {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

// width < 768px [RWD-3]
@media (max-width: 767px) {
    .hero-link {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
